html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*****
  Navbar
*****/

header {
  background: #4b6584;
  padding-bottom: 2.5em;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

nav li {
  list-style: none;
  display: flex;
}

.github-image {
  height: 28px;
  width: 100%;
}

.hero-title {

}