html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*****
  Navbar & Hero
*****/

header,
.hero {
  background:#3F3D56;
  border-bottom: 0.1px solid #ffffff;
  text-align: center;
}

.hero {
  margin-bottom: 2em;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  list-style: none;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item:hover {
  filter: invert(0.1);
}
nav ul {
  padding: 0;
}

.hero {
  margin-bottom: 2.5em;
}

.hero-profile {
  padding: 3em 0;
}

.hero-profile-image {
  width: 128px;
  height: 128px;
  background-color: #F8F8F9;
  margin: 0 auto;
  margin-bottom: 0.5em;
  border-radius: 50%;
}

.hero-profile-title,
.hero-profile-subtitle {
  color: #ffffff;
}

.hero-profile h1 {
  margin: 0;
  font-size: 2rem;
}

.hero-profile p {
  font-size: 1rem;
  margin: 0;
  margin-top: -0.25rem;
  margin-bottom: 1.5em;
}

.hero-profile-subtitle strong {
  font-weight: 700;
  color: #61dafb;
}

.button-cta,
.button-home {
  background: #00AEA0;
  color: #1f2e3f;
  padding: 0.75em 2em;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.button-cta:hover,
.button-cta:focus {
  background: #00C1B1;
  color: #1f2e3f;
  cursor: pointer;
}

.button-home {
  background: #ffffff;
  border: 2px solid #1f2e3f;
  padding: 0.3em 1em;
}

.button-home:hover,
.button-home:focus {
  border: 2px solid #ffffff;
 filter: invert(0.1);
}

/*****
  Typography
*****/

h1 {
  color: #3F3D56;
}

h2 {
  color: #3F3D56;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

p,
ul {
  color: #4a4a4a;
}

.section-skill h2 {
  color: #1F2E3F;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.section-body {
  font-size: 1rem;
  margin-bottom: 1em;
}

#section-cta .section-title,
#section-cta .section-body {
  color: #ffffff;
}

/*****
  Layout
*****/
section {
  margin-bottom: 2.5em;
}

.section-title {
  border-bottom: 2px solid #F8F8F9;
  font-size: 2rem;
  padding-bottom: 0.5em;
}

.article-education,
.section-skill {
  box-shadow: 2px 2px #F8F8F9;
  border: 2px solid #F8F8F9;
  margin-bottom: 1em;
  padding: 0.5em;
}

.article-education li{
  margin-bottom: 0.5em;
}

.section-skill {
  background: #F8F8F9;
  text-align: center;
}

.section-skill p {
  margin: 0;
}
	
.responsive-container {
    width: 100%;
    padding-bottom: 56.25%; /* 9/16 = aspect ratio of image */
    position: relative;
    margin: 0 auto 1em auto;
}

.section-skill-image {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

article {
  background: #F8F8F9;
  padding: 1em 2em 0.5em 1.5em;
  margin-bottom: 0.5em;
}

article p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

article h2 {
  margin-bottom: 0.5em;
}

.projects article {
  text-align: center;
}

.project-image {
  height: 100%;
  width: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}

.project-image:hover {
  filter: invert(0.1);
}

#section-cta {
  padding-bottom: 5em;
  background: #3F3D56;
}

#section-cta{
  text-align: center;
  padding: 0.5em;
}

#section-cta .button-cta {
  margin: 1em 0 2em 0;
}

footer {
  background: #F8F8F9;
  padding: 3em 0;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}

.invalid-feedback {
  color: #D8000C;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 752px) {
  nav li {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  nav ul {
    margin-left: 3em;
  }

  .nav-home-item {
    position: absolute;
    left: 0;
    margin: 0;
  }

  .articles-education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .education-one {
    margin-right: 0.5em;
  }
  
  .education-two {
    margin-left: 0.5em;
  }

  .section-skills {
    background: #F8F8F9;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .section-skill {
    flex: 1 1 200px;
    padding: 1em;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(420px, 1fr));
   }

   .projects article {
    margin: 0.5em;
  }
}