span {
    color: #4a4a4a;
    font-size: 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    padding: 0 0.5em;
}

form {
    text-align: center;
}

input {
    width: 80%;
    display: block;
    padding: 0.5em;
    margin: 0.25em auto;
    border-radius: 5px;
}

textarea {
    display: block;
    margin: 0.25em;
    border-radius: 5px;
}

.button-submit {
    margin: 0.25em;
    border-radius: 5px;
}